// importamos la fuente a usar  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');
  @import "~bootstrap/scss/bootstrap";

// body
*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(40,84,48);
  background: linear-gradient(90deg, rgba(40,84,48,1) 0%, rgba(61,128,73,1) 50%, rgba(73,154,87,1) 100%);
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}

.flex{
  display: flex;
}

// colors
$ligth: #ffffff;
$gray: #c4ccde;
$gray2: #e7e9eb;
$beige: #E5D9B6;
$eart: #285430;
$nature: #5F8D4E;
$green: #A4BE7B;



.nav-tabs .nav-link {
  color: #ffffff;
}
.tab-user {
  background-color: #E5D9B6;
}
// components
// .navbar {
//   border-color: $ligth;
// //  padding: 1rem 2rem;
//   border-bottom: 1px solid $gray;
// }
.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  background-color: $eart;
  // border-right: 1px solid $gray;
  ul{
    list-style: none;
    padding: 1rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        color: $ligth;
        &.active{
          background-color: $green;
        }
      }
    }
  }
}

.content-section{
  background-color: $beige;
}